.recipes{
    display: flex;
    margin: 50px 0;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.recipes a{
    color: black;
    padding: 10px;
    background-color: brown;
    border-radius: 20px;
    padding: 20px;
}